<h1>New Item</h1>

<%= form_for @item, url: items_path do |f| %>
  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <br />
  </div>

  <div class="form-group">
    <%= f.label "Description" %>
    <%= f.text_area :description %>
    <br />
  </div>

  <div class="form-group">
    <%= f.submit "Add Item", class: "btn" %>
  </div>
<% end %>

<br />

<%= button_tag(type: 'button') do %>
  <%= link_to 'All Items', items_path %>
<% end %>
